<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/app.js"></script>
  <html data-theme="dark"></html>
</head>

<body>
  <button id="themeToggle" class="theme-toggle">🌙</button>
  <div class="container">

    <aside class="sidebar">
      <div class="profile">
        <img src="/assets/profile.png" />
        <p>Javier Hernandez</p>
      </div>
      <div class="tree">
        <p>📁 {{ site.title }}</p>
        <a href="/">├── Inicio</a>
        <a href="/about">├── Sobre mi</a>
        <a href="/lab">└── Laboratorio</a>
      </div>
    </aside>

    <main class="content">
      {{ content }}
    </main>

  </div>

</body>

</html>